@font-face  {
    src: url("../assets/fonts/Roboto-Thin.ttf");
    font-family:Roboto;
}

@font-face {
    src:url("../assets/fonts/Roboto-Bold.ttf");
    font-family:Roboto-bold;
}

@font-face {
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-family: Roboto-medium;
}
